# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# ==========================
# Build / Package
# ==========================

build/
dist/
*.egg-info/
.eggs/

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# OS
# ==========================

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Environment variables
# ==========================

.env
.env.*

# ==========================
# Test / Coverage
# ==========================

.pytest_cache/
.coverage
htmlcov/

# ==========================
# Temporary files
# ==========================

*.tmp
*.temp
*.bak

# ==========================
# Downloaded videos / files
# ==========================

downloads/
output/
*.mp4
*.mkv
*.avi
*.enc

# ==========================
# Cache
# ==========================

.cache/